{% extends 'menu.html' %}

{% block title %} {{title}} {% endblock %}

{% block pagename%} <h1>{{text}}</h1> {% endblock%}

{% block menu %}{{ block.super }}{% endblock %}

{% block content %}

    <ul>
        {% for game in games %}
            <li>
                {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }} <button>Купить</button>
            </li>
        {% empty %}
            <li>Нет доступных игр.</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}