<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <style>
        body {text-align: center;}
    </style>
</head>
<body>
    <h2>Регистрация</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>

    {% if welcome_message %}

        <h2><p>{{ welcome_message }}</p></h2>
    {% endif %}
</body>
</html>